body::before {
    display: block;
    content: '';
    height: 60px;
}

.circle {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    color: #ffffff;
   }


@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
    }